/* * {
  box-sizing: border-box;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial;
  margin: 0;
}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  text-align: left;
  background: #4a79a5;
  color: #fff;
  
}

nav {
  display: flex;
  background-color: #bca9cf;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
}

aside {
  flex: 1;
  background-color: #416a7e;
  padding: 10px;
}

section {
  flex: 3;
  background-color: #fff;
  padding: 20px;
}

.img{
  width: 100%;
 align-items: center;
}
/* .profile-img {
  align-items: center; */
  /* background-color: #fff;
  width: 100%; */
  /* padding: 20px;  */
   /* height: 200px;
   border: 1px solid black;  */


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }
  /* Change the header background */
  header {
    background: #772014;
  }
  /* Change the navbar and footer background */
  nav,
  footer {
    background-color: #bb8588;
  }
}
