body {
  background-color: whitesmoke;
}

.container {
  /* max-width;
  margin: 0 auto; */
  background-color: lavenderblush;
}

nav {
justify-content: right;
font-size: 24px;
}

.container > header {
padding:20px;
background-color:lightskyblue;
color: white;
display: flex;
font-size: 150%;
}

nav a{
  margin-left:12px;
  text-decoration: none;
}

header{
  display: flex;
  flex-direction: column;

}

header a {
  font-size: 115%;
}

#About{
  font-size: 125%;
  display: flex;
  margin-top: 50px;
}

#work{
  font-size: 125%;
}

footer{
  margin-bottom: 100px;
}

#me {
  height: 300px;
  width: 200px;
  margin-left: 50px;
  margin-right: 20px;
}

#examples{
  display: flex;
  justify-content: center;
  
}

.featured{
 text-align: center;

}

#Contact a
{
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}

#prework{
  height: 400px;
  width: 400px;
}

#css{
  height:400px;
  width:400px
}